<h1>Here is a list of item we recommend!</h1>
<input type="checkbox" id="shouldBring1" name="shouldBring1" value="tent">
<label for="shouldBring1">Tent</label><br>
<input type="checkbox" id="shouldBring2" name="shouldBring2" value="sleepingBag">
<label for="shouldBring2">Sleeping Bag</label><br>
<input type="checkbox" id="shouldBring3" name="shouldBring3" value="boots">
<label for="shouldBring3">Boots</label><br>
<input type="checkbox" id="shouldBring4" name="shouldBring4" value="lightSource">
<label for="shouldBring4">Light Source</label><br>
<input type="checkbox" id="shouldBring5" name="shouldBring5" value="water">
<label for="shouldBring5">Water</label><br>
<input type="checkbox" id="shouldBring6" name="shouldBring6" value="food">
<label for="shouldBring6">Food</label><br>
<a href="/">Return Home</a>