<h1>Create a List of Items you need to go camping!</h1>
<a href="/camping/new">Add an Item to the list</a>
<a href="/camping">See your list</a>
<a href="/camping/show">See our recommended camping list</a>